.pageContainer{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  color: #ffffff;
  animation-name: editor;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes editor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #858585;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.editorContainer {
  display: flex;
  width: 100%;
  height: calc(100% - 50px);
}


.containerHtml {
  width: 50%;
  height: 100%;
  background: transparent;
  word-wrap: break-word;
  padding: 5px 15px 5px 15px;
  text-align: left;
  overflow-y: auto;
  border-left: 1px solid #858585;
}
.containerHtml pre {
  background-color: #383838;
  padding: 5px;
  border-radius: 3px;
}
.containerHtml::-webkit-scrollbar {
  width: 10px;
}
.containerHtml::-webkit-scrollbar-track {
  background-color: transparent;
}
.containerHtml::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 5px;
}

.containerMarkdown {
  width: 50%;
  height: 100%;
  background:transparent;
  resize: none;
  padding: 0;
  border: none;
  font-size: 18px;
}

.containerMarkdown:focus{
  outline: none;
}
.homeIcon {
  width: 25px;
  height: 25px;
}

.menuContainer {
  position: relative;
}

.menuButton {
  background-color: #383838;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.menuButton:hover{
  background-color: #181818;
}

.hiddenMenu {
  display: none;
}

.showMenu {
  width: 170px;
  position: absolute;
  top: 20px;
  left: -95px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  backdrop-filter: blur(20px) saturate(150%) contrast(110%);
  padding: 10px;
  z-index: 10;
  list-style: none;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 2px 5px 4px 1px rgba(0, 0, 0, 0.2);
}

.showMenu li {
  margin-top: 10px;
  cursor: default;
  padding: 10px;
  border-radius: 3px;
}

.showMenu li:hover {
  background-color: #383838;
}

.hiddenMessage {
  display: none;
}

.showMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  background-color: transparent;
  backdrop-filter: blur(20px) saturate(150%) contrast(110%);
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  animation-name: message;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}

@keyframes message {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .editorContainer {
    flex-direction: column;
  }
  .containerHtml {
    width: 100%;
    height: 50%;
    border-left: none;
    border-top: 1px solid #858585;
    margin-top: 0;
  }
  .containerMarkdown{
    width: 100%;
    height: 50%;
  }
}
