.pageContainer{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1656460990797-d8602507b5e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*image from https://unsplash.com/es/@aedrian*/

.mainContainer{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 95%;
  border-radius: 5px;
  background-color: rgba(83, 83, 83, 0.5);
  backdrop-filter: blur(20px) saturate(120%) contrast(120%);
  color: #ffffff;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
  animation-name: editor;
  animation-duration: .7s;
  animation-timing-function: linear;
}

@keyframes editor {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.navbar {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.editorContainer {
  display: flex;
  width: 100%;
  height: calc(100% - 50px);
}


.containerHtml {
  width: 50%;
  height: 100%;
  background: transparent;
  word-wrap: break-word;
  padding: 5px 15px 5px 15px;
  text-align: left;
  overflow-y: auto;
  border-left: 1px solid #fff;
}
.containerHtml pre {
  background-color: #383838;
  padding: 5px;
  border-radius: 3px;
}
.containerHtml::-webkit-scrollbar {
  width: 10px;
}
.containerHtml::-webkit-scrollbar-track {
  background-color: transparent;
}
.containerHtml::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 5px;
}

.containerMarkdown {
  width: 50%;
  height: 100%;
  background:transparent;
  resize: none;
  padding: 0;
  border: none;
  font-size: 18px;
}

.containerMarkdown:focus{
  outline: none;
}
.homeIcon {
  width: 25px;
  height: 25px;
  transition: all .3s;
}

.homeIcon:hover{
  transform: scale(1.2);
}

.menuContainer {
  position: relative;
}

.menuButton {
  background-color: #383838;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.menuButton:hover{
  background-color: #242424;
}

.hiddenMenu {
  display: none;
}

.showMenu {
  width: 170px;
  position: absolute;
  top: 20px;
  left: -95px;
  display: flex;
  flex-direction: column;
  background-color: #383838;
  padding: 10px;
  z-index: 10;
  list-style: none;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 2px 5px 4px 1px rgba(0, 0, 0, 0.2);
}

.showMenu li {
  margin-top: 10px;
  cursor: default;
  padding: 10px;
  border-radius: 3px;
}

.showMenu li:hover {
  background-color: #242424;
}

.hiddenMessage {
  display: none;
}

.showMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  background-color: rgba(83, 83, 83, 0.1);
  backdrop-filter: blur(20px) saturate(150%) contrast(110%);
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  animation-name: message;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}

@keyframes message {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .editorContainer {
    flex-direction: column;
  }
  .containerHtml {
    width: 100%;
    height: 50%;
    border-left: none;
    border-top: 1px solid #fff;
    margin-top: 0;
  }
  .containerMarkdown{
    width: 100%;
    height: 50%;
  }
}
