.homeContainer {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.name {
  font-size: 15px;
  color: #383838;
  cursor: default;
}

.text {
  color: #383838;
  font-size: 55px;
  font-weight: 500;
  margin: 0;
  cursor: default;
}

.textContainer {
  margin: 50px 0 50px 0;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #125B50;
  border-radius: 10px;
  color: #FAF5E4;
  font-size: 22px;
  font-weight: 500;
  transition: all 0.3s;
}

.button:hover{
  transform: scale(1.2);
}

@media screen and (max-width: 400px) {

  .text {
    font-size: 40px;
  }
  
}