.scrollContainer {
  margin-top: 100vh;
  left: 0;
  position: absolute;
  width: 100%;
  height: calc(100vh - 15vh);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  background-color: rgb(250, 245, 228, 0.5);
  backdrop-filter: blur(10px) saturate(150%);
}

.homeContainer {
  position: fixed;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.name {
  font-size: 15px;
  color: #383838;
  cursor: default;
  user-select: none;
}

.text {
  color: #383838;
  font-size: 55px;
  font-weight: 500;
  margin: 0;
  cursor: default;
  user-select: none;
}

.textContainer {
  margin: 50px 0 50px 0;
  text-align: center;
}

.legend {
  width: 350px;
  text-align: center;
  color: #383838;
  font-size: 20px;
  font-weight: 100;
  padding: 0 10px 0 10px;
  cursor: default;
  user-select: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #125B50;
  border-radius: 10px;
  color: #FAF5E4;
  font-size: 22px;
  font-weight: 500;
  user-select: none;
  transition: all 0.3s;
}

.button:hover{
  background-color: #156e61;
}

.editorIcon {
  color: #383838;
  width: 70px;
  height: 70px;
}

.arrowDownIcon {
  color: #125B50;
  width: 35px;
  height: 35px;
  animation-name: arrowDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.githubIcon {
  color: #383838;
  width: 25px;
  height: 25px;
}


@keyframes arrowDown {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 400px) {

  .text {
    font-size: 40px;
  }

  .legend {
    width: 200px;
  }
  
}